// Colors
$body: #172139;
$white: #fff;
$medium-blue: #39b8d4;
$light-blue: #5cccf2;
$light-grey: #f9f8f8;

// screens
$phone: 600px;
$tablet: 992px;
$laptop_sm: 1024px;
$laptop: 1366px;
$hd: 1440px;
$hdplus: 1441px;
$fullHD: 1920px;
